/* Header Sytles */

/* End of Header */

/* Main Styles */

.business-intro,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-primary);
  font-size: 300%;
  padding: 0 16px;
  margin: 8px;
}

.business-intro {
  margin: 8px 0;
}

.business-intro ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 8px 16px !important;
}

.business-intro ul,
.business-intro ul li {
  padding: 0;
  margin: 0;
}

.business-intro ul li {
  list-style: none;
}

#business-hours {
  margin: 8px 0;
}

.hours-opacity {
  opacity: 0;
}

.animate-hours {
  display: block;
  opacity: 1;

  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

.main-image {
  margin: 8px 0;
  margin-bottom: 16px;
  max-width: var(--default-max-width);
  width: 100vw;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  max-width: var(--default-max-width);
  width: calc(100vw - 32px);
}

.main-section h2 {
  padding-bottom: 16px;
  text-overflow: ellipsis;
}

#reviews {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 484px;
  overflow-x: scroll;
  overflow-y: none !important;
}

.review {
  display: flex;
  flex-direction: column;
  height: 450px;
  min-width: 300px;
  width: 300px;
  overflow: hidden;
  margin: 8px;
  padding: 8px;
  border: 2px solid var(--color-primary);
  border-radius: 16px;
}

.review a {
  display: flex;
  align-items: center;
}

.review a:hover h3 {
  text-decoration: underline;
}

.review a img {
  height: 60px;
  margin-right: 8px;
}

.review a h3 {
  font-size: 1.25rem;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.review-text {
  flex: 1;
  overflow: scroll;
}

.review-text p {
  font-size: 1rem;
  text-overflow: ellipsis;
}

.review-stars {
  display: flex;
  justify-content: center;
  margin: 2px 0;
}

.review-stars img {
  height: 32px;
  filter: invert(88%) sepia(41%) saturate(1699%) hue-rotate(347deg)
    brightness(90%) contrast(81%);
}

#google-map {
  max-width: var(--default-max-width);
  width: calc(100vw - 32px);
}

#loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Main */

/* Animation Styles */

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

/* End of Animations */
